// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

// Super Hero
.super-hero{
	margin-top:-72px;
	background:url(../img/EXTERIOR_CQ_SAN-FRANCISCO_0024.jpg) no-repeat center top;
}

.portfolio_area{
	padding:80px 0;
	background:url(../img/03olinda-carnival-shopping-mecca-palette-inspriation.jpg) no-repeat center;
}

.donate-or-hire{
	background:url(../img/The-Pelourinho-Salvador-Brazil-11.jpg) no-repeat center;
}
.section_padding_100{
	padding-top: 100px;
    padding-bottom: 100px;
}

@media(min-width: 320px){
	.super-hero_presentation{
		display:table-cell;
		vertical-align: middle;
	}

	.call-to-action{
		padding-top: 20px;
    	padding-bottom: 20px;
    	background:rgb(38, 166, 154);
	}

	.feature{
		margin-bottom:20px;
	}
	.copyright{
		background: rgb(38, 50, 56);
    	color: rgba(255, 255, 255, .78);
    	padding: 20px 0;
	}
}

@media(min-width:$screen-sm){
	
	.navbar.navbar-default{
		z-index: 1;
	}

	.navbar-nav > li > a{
		font-family: 'Anton', 'Arial', sans-serif;
		font-size:1.8em;
	}
}